<div class="col-md-12">
  <div class="widget">
    <div class="widget-head">
      <div class="pull-left">Photos</div>
      <div class="widget-icons pull-right">
        <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="widget-content">
      <div class="padd">

        <div class="gallery">
          <!-- Full size image link in anchor tag. Thumbnail link in image tag. -->
          <% @apartment.images.each do |image| %>
            <%= link_to image.photo.url, :class => "prettyPhoto[pp_gal]", :title => "description goes here" do %>
              <%= image_tag image.photo.url(:thumb), :alt => "some title goes here" %>
            <% end %>
          <% end %>
        </div>

      </div>
      <div class="widget-foot">
        <!-- Footer goes here -->
      </div>
    </div>
  </div>
</div>