<!-- Page content starts -->
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-3">
        <!-- Add filter names inside "data-filter". For example ".web-design", ".seo", etc., Filter names are used to filter the below images. -->
        <div class="button">
           <ul id="filters">
            <li><a href="#" data-filter="*">All Properties</a></li>
            <% @properties.each do |property| %>
              <li><a href="#" data-filter=".<%= property.street_address.parameterize %>"><%= property.street_address %></a></li>
             <% end %>
           </ul>
        </div>
      </div>
      <div class="col-md-12 col-lg-9">
        <div id="portfolio">
            <!-- Add the above used filter names inside div tag. You can add more than one filter names. For image lightbox you need to include "a" tag pointing to image link, along with the class "prettyphoto".-->
           <% @apartments.each do |apartment| %>
             <div class="element one <%= apartment.property.street_address.parameterize %>"><a href="img/photos/1.jpg" class="prettyphoto">
                 <img src="http://www.lorempixel.com/<%= rand(100) + 100 %>/100" alt="" height="100"/>
                 <!-- Portfolio caption -->
                 <div class="pcap">
                    <h5>Lorem ipsum dolor</h5>
                    <p>Sed justo dui, scelerisque ut consectetur vel, eleifend id erat.</p>
                 </div>
             </a></div>
           <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content ends -->