<!-- Page heading -->
<div class="page-head">
  <h2 class="pull-left"><i class="fa fa-home"></i> 
    <%= yield :dashboard_header %>
  </h2>

  <!-- Breadcrumb -->
  <div class="bread-crumb pull-right">
    <%= i_link("Home", admin_path, "home") %>
    <%= yield :dashboard_breadcrumbs %>
  </div>

  <div class="clearfix"></div>

</div>
<!-- Page heading ends -->